<!DOCTYPE html>
<title>onyx</title>
<!DOCTYPE html>
<html>
<title>delete</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
body, html {
    height: 100%;
    line-height: 1.8;
}
.bgimg-1 {
    
    opacity: 0.6;
    background-blend-mode: lighten;
background-color: gray;
}
.w3-bar .w3-button {
    padding: 16px;
}
</style>
<body>


<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
<link href="https://fonts.googleapis.com/css?family=K2D" rel="stylesheet">
</header>
 <div class="w3-display-center w3-text-black" style="position: absolute;top: 35%;left: 30%;opacity: 7.0"  >
    
    <p>
    <form action="http://www.onyx-nie.org/" >
  <input type="text" name="enter your usn" placeholder="Enter your USN" required>
  <input type="submit" value="DELETE">
</form></p>
  </div> 
</body>
</html>