<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<title>update</title>


<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>

    <img src="http://www.onyx-nie.org/uploads/7/6/8/5/7685660/1466473794.png" style="padding-left: 45%">
        </div>
    </div>
    <br>
    <br><br><br>
    <br><br>

  <div >
   <div >
    <div >

      <div style="padding: 70px">
        <form action="http://localhost:5000/UpdateMemberForm" method="POST">
          <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="Name" required name="name">
            </div>
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="USN" required name="usn">
            </div>

          </div><br>
           <input class="w3-input w3-border" type="text" placeholder="Branch" required name="branch"><br>
            <input class="w3-input w3-border" type="text" placeholder="Year" required name="year"><br>
            <input class="w3-input w3-border" type="text" placeholder="Semester" required name="semester"><br>
             <input class="w3-input w3-border" type="text" placeholder="Number_of_events_attended" required name="number_of_events_attended"><br>
             <input class="w3-input w3-border" type="text" placeholder="Number_of_competitions" required name="number_of_competitions"><br>

          <button class="w3-button w3-black w3-section w3-right" type="submit">UPDATE</button>
        </form>
       
    </div>
  </div>
</div>
</div>
</div>

</body>
</html> 

